@import "vars"

/*==========  Desktop First  ==========*/


@media only screen and (max-width : 1200px)
    .header-composition
        img
            max-width: 100%

@media only screen and (max-width : 992px)
    .fotorama
        flex-basis: 800px
    .about-film
        flex-basis: 800px
        .h2
            padding-top: 40px


@media only screen and (max-width : 768px)
    body
        &.ishome
            .site-header
                min-height: 580px
    .welcome
        padding-top: 20px

@media only screen and (max-width : 480px)
    .welcome
        padding-top: 60px
        strong
            font-size: 14px
        p
            span
                font-size: 12px
    .header-composition
        width: 95%
        margin: 0 auto
        p
            font-size: 14px
    .phone
        font-size: 16px
    .header-socials
        padding: 0 10px
    .hamburger
        padding: 10px
    .button
        padding: 10px 20px

    .about-film
        .h2
            font-size: 18px
            padding-top: 20px
        p
            font-size: 14px

