@import "fonts"
@import "libs"
@import "vars"

*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	&:before, &:after
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%

.button
    display: inline-block
    border: none
    color: #fff
    text-decoration: none
    background-color: $accent
    padding: 15px 45px
    font-size: 13px
    text-transform: uppercase
    font-weight: 600
    letter-spacing: 3px
    border-radius: 2px
    text-align: center
    position: relative
    outline: none
    transition: background-color .1s ease
    cursor: pointer
    &::after
        transition: background-color .2s ease
        position: absolute
        content: ''
        height: 4px
        bottom: 0
        width: 100%
        background-color: darken($accent, 50%)
        opacity: .18
        border-bottom-left-radius: 2px
        border-bottom-right-radius: 2px
        left: 0
    &:focus, &:hover
        text-decoration: none
        color: #fff
    &:hover
        background-color: lighten($accent, 5%)
        &::after
            opacity: .22
    &:active
        background-color: darken($accent, 5%)
        &::after
            opacity: .32

body
      font-size: 16px
      min-width: 320px
      position: relative
      line-height: 1.65
      font-family: $default-font
      overflow-x: hidden
      opacity: 1
      &.ishome
		        .site-header
                min-height: 500px
                background: url("../img/bg-2.jpg") $grey no-repeat
                background-size: cover
                color: $white
                height: 100vh
                .top-line
                    padding-top: 40px
                    position: absolute
                    width: 100%
                    z-index: 1

.h1, .h2, .h3, .h4, .h5, .h6
    text-transform: uppercase
    line-height: 1.4

//.logo
//	img
//		width: 60px
//		margin: -15px 0 0 25px
//		border-radius: 5px
//		box-shadow: 8px 8px 10px rgba(0,0,0,.8)

.phone
	  position: absolute
	  right: 95px
	  top: 44px
	  font-family: "Fira Sans", sans-serif
	  font-size: 22px
	  white-space: nowrap
	  .fa-mobile
        margin-right: 10px
        transform: scale(1.5)

section, header
    position: relative
    background-size: cover
    background-position: center

section
	background-color: $lightgrey

.img-responsive
	display: block
	max-width: 100%
	height: auto

.hamburger
    position: absolute
    right: 0
    top: 34px
    .hamburger-inner, .hamburger-inner::after, .hamburger-inner::before
        background-color: $white
        width: 34px
        border-radius: 0
        height: 3px

.mm-menu.mm-theme-black
    li:not(.mm-selected)
        a:hover
            color: $white
            transition: color 0.25s
    .mm-selected
        color: $accent
        font-weight: bold

.flex-header
    display: flex
    height: 100%
    position: relative
    top: 0

.flex-center
    margin: auto

.header-composition
    position: relative
    text-align: center
    p
        margin-top: 20px
        text-shadow: 5px 5px 3px rgba(0,0,0,.8)
    img
        display: block
        margin: auto
        max-width: 560px
    cite
        display: block
        margin: 10px 0 20px


.welcome
    border-bottom: 1px solid $white
    p
        font-size: 14px
        text-transform: uppercase
        display: flex
        align-items: center
        white-space: nowrap
        margin: 0
        span
            margin: 0 10px
        &::before, &::after
            content: ''
            height: 1px
            width: 100%
            position: relative
            background-color: $white
            display: inline-block
    strong
        margin: 10px 0 10px
        display: block
        font-size: 17px
        text-transform: uppercase
    .fa
        margin: 0 10px
        color: #555555

.header-socials
    position: absolute
    right: 0
    display: flex
    flex-direction: column
    justify-content: center
    border-left: 1px solid rgba(#fff,0.1)
    height: 100%
    top: 0
    padding: 0 15px

.soc
    ul , li
        margin: 0
        padding: 0
        list-style-type: none
    a
        display: block
        color: $white
        font-size: 17px
        background-color: rgba(#fff,0.2)
        width: 45px
        height: 45px
        text-align: center
        margin: 18px 0
        line-height: 45px
        border-radius: 50%
        transition: background-color .25s ease
        &:hover
            background-color: rgba(#fff,0.5)

$colors: $accent,$white, $orange
@for $i from 1 through length($colors)
    .carousel-services .owl-item:nth-child(#{length($colors)}n+#{$i})
        background-color: nth($colors,$i)

//.owl-stage
//    display: flex

.s-services .owl-carousel .owl-item img
    cursor: pointer

.s-services .owl-carousel
    position: relative
    .owl-nav
        color: #fff
        .owl-prev,.owl-next
            position: absolute
            top: 0
            bottom: 0
            text-align: center
            width: 30px
            background-color: rgba($dark, .8)
            .fa-angle-double-left,.fa-angle-double-right
                position: absolute
                top: 50%
                transform: translate(-50%,-50%)
        .owl-prev
            left: 0
        .owl-next
            right: 0

.s-about-film
    .overlay
        display: flex
        justify-content: space-around
        align-items: center
        color: white
        text-align: center
        background-color: rgba($dark, .8)
        h2
            color: $orange
            font-weight: 800
            span
                color: #fff
.about-film
    flex-basis: 500px

.fotorama
    padding: 40px 0

.fotorama__arr--prev
    background: url("../img/photos/small/30d48090373dda4c05e2a1390c0b81303.svg") 0 0

.fotorama__arr--next
    background: url("../img/photos/small/30d48090373dda4c05e2a1390c0b81302.svg") 0 0

.fotorama__fullscreen-icon
    background: url("../img/photos/small/09ebe7876d2c2b05394f8fcc811f309b.svg") 0 0

.fotorama--fullscreen .fotorama__fullscreen-icon
    background: url("../img/photos/small/e4698afd04f9c7bc60caaa22386a4f79.svg")

@import "media" // Всегда в конце
